body {
  background-color: #fff;
  font-family: 'Roboto', sans-sans-serif;
}

.bold-font {
  font-weight: bold;
}

.banner-carousel-container{
  //max-width: 950px;
}

.eboard-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 0px 1px grey;
  background-color: #fff;
}



.card img {
  max-height: 200px;
}

#eboard-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

#events-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-image {
  width: 200px;
  height: 200px;
}

.card-image img{
  border-radius: 5px;
}

.card-image-and-name{
  margin: 10px;
}


.carousel-container {
  position: relative;
}

.carousel-item {
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.carousel-item img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 100% 70%;
}

.carousel-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  text-align: center;
  color: white;
  height: 100%;
  z-index: 20;
  background-color: rgba(0,39,74,.5);
}

#club-name{
  margin-top: 10%;
  display: block;
  text-transform: uppercase;
  font-size: 84px;
  font-weight: bold;
}

#university{
  font-size: 60px;
}

#btn-subscribe{
  font-size: 30px;
}

.content-container {
  margin: 0 auto;
  padding: 20px;
  min-width: 300px;
  max-width: 950px;
}

.content-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #00205B;
}

#contact-us h2{
  color: #eff6fc;
}

.contact-us-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bg-rice-blue {
  background-color: #00205B;
}

.bg-medium-blue {
  background-color: #4D9AD4;
}

.bg-rich-blue{
  background-color: #0A509E;
}

.bg-megalight-blue{
  background-color: #eff6fc;
}
.bg-bright-blue {
  background-color: #9FDDF9;
}
.bg-light-blue-gray{
  background-color: #ADC7DC;
}


#event-header{
  color: #eff6fc;
}

.event-card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.event-card-body ul {
  list-style: none;
  padding: 0px;
}

.event-card {
  width: 250px;
  margin: 26px;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  border: none;
}

.event-card-header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-card-header h5 {
  font-weight: bold;
}

.event-card:hover{
  transform: scale(1.1);
}

.event-title-date {
  display: flex;
  flex-direction: column-reverse;
}

.nav-container{
  max-width: 950px;
  margin: 0 auto;
}

.name-and-title {
  display: flex;
  flex-direction: column-reverse;
}

#scroll-top-btn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  border: none;
  padding: 5px;
  border-radius: 2px;
  z-index: 99;
  transition: 1.2s;
  outline: none;
}

.social-media-container {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  list-style: none;

}

.social-media-icon {
  margin: 0 5px;
}

@media only screen and (max-width: 700px){
  #club-name{
  font-size: 40px;
  }

  #university{
    font-size: 30px;
  }

  #btn-subscribe{
    font-size: 20px;
  }

  .card-text {
    font-size: 15px;
  }
  .eboard-card {
    flex-direction: column;
  }
}
